/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* Add this to style the element with the animation: */
.scrolling-keywords { /* Or whatever class name you're using */
  animation: scroll 600ms linear infinite;  /* Increased to 30 seconds */
}